.gitignore
.DS_Store
/pyemili.egg-info
/pyemili/__pycache__/
/pyemili/*.out
/pyemili/*.dat
/pyemili/Line_dataset/Linedb.npy
/pyemili/Line_dataset/Linedb_v1.1.npz
/pyemili/Line_dataset/match_lines.dat
/test/J0608_03may2019MagE.fits
/test/_basic_outputs/
/test/_ngc6302_outputs/
/pyemili/eff_fit/
/pyemili/eff_reccoe/v1.1/
/pyemili/Recom_ON.py
/pyemili/Recom.py
/dist/
/build/
