.DS_Store
/pyemili.egg-info
/pyemili/__pycache__/
/pyemili/*.out
/pyemili/*.dat
/pyemili/Line_dataset/Linedb.npy
/pyemili/Line_dataset/match_lines.dat
test/J0608_03may2019MagE.fits
/pyemili/eff_fit/
/pyemili/Recom_ON.py
/test