include LICENSE.txt README.rst requirements.txt setup.py
recursive-include pyemili/abundance *.dat
recursive-include pyemili/Line_dataset *.dat *.npy *.npz
recursive-include pyemili/recom *.dat
recursive-include pyemili/eff_reccoe *.dat *.npy

global-exclude __pycache__ *.py[cod]
global-exclude test.py Recom.py
